
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.terraform/

*.kubeconfig

logs/
*.log
npm-debug.log*

pids
*.pid
*.seed
*.pid.lock

lib-cov

coverage

.nyc_output

.grunt

bower_components

node_modules/
jspm_packages/

.env

.idea
.vscode
*.sw*
*.bak
*.bak.*
*~

.DS_Store
